@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #1a0101;
}

.header{
    display: block;
    max-width: 569px;
    max-height: 100px;
}

.newsbox{
    background: #050a1b;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
}
.post{
    max-width: 500px;
    background-color: #040816;
    border-radius: 7px;
}
.postdate{
    margin-bottom: 5px;
    margin-top: 5px;
}
.postimage{
    display: block;
}
.posttext{
    margin-bottom: 5px;
    margin-top: 5px;
}
.postlink{
    text-decoration: none;
    color: #a4b1cf
}
p[class|="posttext last"]{
    padding: 5px;
    margin: 3px;
}

h1, h2, h3, h4, h5, h6, p{
    color: #b4c2cc;
    font-family: 'Noto Sans';
    text-align: center;
}

.mainmenu ul{
    list-style-type: none;
    padding: 0px;
    margin: 6px;
    overflow: hidden;
    border-radius: 10px;
}
a[class|="icon"]{
    background-color: #0a1132;
    color: #b4c2cc;
    text-decoration: none;
    padding: 8px;
    display: block;
    text-align: center;
    font-family: 'Noto Sans';
    animation: textColorUnchange 1s ease-in-out 0s 1 alternate none running;
    -webkit-animation: textColorUnchangeWK 1s ease-in-out 0s 1 alternate none running;
}
.mainmenu a[class|="nonicon"]{
    background-color: #0a1132;
    color: #b4c2cc;
    text-decoration: none;
    padding: 29px;
    display: block;
    text-align: center;
    font-family: 'Noto Sans';
    animation: textColorUnchange 1s ease-in-out 0s 1 alternate none running;
    -webkit-animation: textColorUnchangeWK 1s ease-in-out 0s 1 alternate none running;
}
.mainmenu a:hover{
    background-color: #b4c2cc;
    animation: textColorChange 1s ease-in-out 0s 1 alternate none running;
    -webkit-animation: textColorChangeWK 1s ease-in-out 0s 1 alternate none running;
    color: #0a1132;
}
.mainmenu li{
    float: left;
    /*! display: block; */
}

img{
    display: block;
}

@-webkit-keyframes textColorChangeWK {
	from { color: #b4c2cc; background-color: #0a1132;}
	to { color: #0a1132; background-color: #b4c2cc;}
}
@keyframes textColorChange {
	from { color: #b4c2cc; background-color: #031947;}
	to { color: #0a1132; background-color: #b4c2cc;}
}
@-webkit-keyframes textColorUnchangeWK {
    from { color: #0a1132; background-color: #b4c2cc;}
	to { color: #b4c2cc; background-color: #0a1132;}
}
@keyframes textColorUnchange {
    from { color: #0a1132; background-color: #b4c2cc;}
	to { color: #b4c2cc; background-color: #0a1132;}
}
