@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap')

body{
    margin: 0;
}

.lang p{
    line-height: 1.1;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Sans';
    margin-right: 10px;
    margin-left: 10px;
    line-height: 0.8;
}
p{
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Noto Sans';
}
.posttext{
    color: #0b0c23;
}
.mainmenu ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.mainmenu a{
    background-color: #031947;
    color: #b4c2cc;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    animation: textColorUnchange 1s ease-in-out 0s 1 alternate none running;
    -webkit-animation: textColorUnchangeWK 1s ease-in-out 0s 1 alternate none running;
}
.mainmenu a:hover{
    background-color: #b4c2cc;
    animation: textColorChange 1s ease-in-out 0s 1 alternate none running;
    -webkit-animation: textColorChangeWK 1s ease-in-out 0s 1 alternate none running;
    color: #031947;
}
.mainmenu li{
    float: left;

}
@-webkit-keyframes textColorChangeWK {
	from { color: #b4c2cc; background-color: #031947;}
	to { color: #031947; background-color: #b4c2cc;}
}
@keyframes textColorChange {
	from { color: #b4c2cc; background-color: #031947;}
	to { color: #031947; background-color: #b4c2cc;}
}
@-webkit-keyframes textColorUnchangeWK {
    from { color: #031947; background-color: #b4c2cc;}
	to { color: #b4c2cc; background-color: #031947;}
}
@keyframes textColorUnchange {
    from { color: #031947; background-color: #b4c2cc;}
	to { color: #b4c2cc; background-color: #031947;}
}
