@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0px;
    background-color: #070c16;
}
.news{
    background-color: #280437;
    border: 3px;
    border-style: solid;
    border-color: #0c0e27;
}
.posttext{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0;
    padding-bottom: 7px;
    color: #d1a4dc;
}
.br{
    height: 2px;
    background-color: #0b0c23;
}

.lang p{
    line-height: 1.1;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Sans';
    margin-right: 10px;
    margin-left: 10px;
    line-height: 0.8;
    color: #d1a4dc;
}
p{
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Noto Sans';
    color: #b4c2cc;
}
.mainmenu ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.mainmenu a{
    background-color: #031947;
    color: #b4c2cc;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    animation: textColorUnchange 1s ease-in-out 0s 1 alternate none running;
    -webkit-animation: textColorUnchangeWK 1s ease-in-out 0s 1 alternate none running;
}
.mainmenu a:hover{
    background-color: #b4c2cc;
    animation: textColorChange 1s ease-in-out 0s 1 alternate none running;
    -webkit-animation: textColorChangeWK 1s ease-in-out 0s 1 alternate none running;
    color: #031947;
}
.mainmenu li{
    float: left;

}
@-webkit-keyframes textColorChangeWK {
	from { color: #b4c2cc; background-color: #031947;}
	to { color: #031947; background-color: #b4c2cc;}
}
@keyframes textColorChange {
	from { color: #b4c2cc; background-color: #031947;}
	to { color: #031947; background-color: #b4c2cc;}
}
@-webkit-keyframes textColorUnchangeWK {
    from { color: #031947; background-color: #b4c2cc;}
	to { color: #b4c2cc; background-color: #031947;}
}
@keyframes textColorUnchange {
    from { color: #031947; background-color: #b4c2cc;}
	to { color: #b4c2cc; background-color: #031947;}
}
